html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: helvetica;
  font-size: 16px;
  color: #fff;
}

button {
  color: #fff;
  background-color: #fd6632;
  border: none;
}

h3 {
  font-size: 1.375em;
}

.pricing-header {

}

.pricing-cost {

}

.pricing-stats {

}

.pricing-button {
  font-size: .8125em;
  padding: .85em 1.35em;
  background-color: #fd6632;
}
