/*
BASE STYLES
*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: helvetica;
  font-size: 16px;
}

button {
  color: #fff;
  background-color: #fd6632;
  border: none;
}

h3 {
  font-size: 1.777em;
}

p {
  color: #fff;
}

/*
ICON FONTS
*/

@font-face {
  font-family: 'ico-fonts';
  src:url('/fonts/ico-fonts.eot?ghgy45');
  src:url('/fonts/ico-fonts.eot?#iefixghgy45') format('embedded-opentype'),
    url('fonts/ico-fonts.ttf?ghgy45') format('truetype'),
    url('fonts/ico-fonts.woff?ghgy45') format('woff'),
    url('fonts/ico-fonts.svg?ghgy45#ico-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'ico-fonts';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:link, [class*=" icon-"]:link,
[class^="icon-"]:visited, [class*=" icon-"]:visited {
  text-decoration: none;
  color: #fff;
}

.icon-gear:before {
  content: "\e601";
}
.icon-envelope:before {
  content: "\e602";
}
.icon-lab:before {
  content: "\e600";
}
.icon-google-plus:before {
  content: "\e603";
}
.icon-facebook:before {
  content: "\e604";
}
.icon-twitter:before {
  content: "\e605";
}
.icon-dribbble:before {
  content: "\e606";
}
.icon-linkedin2:before {
  content: "\e607";
}
.icon-menu:before {
  content: "\e60f";
}
.icon-drop:before {
  content: "\e60e";
}
.icon-plus:before {
  content: "\e608";
}
.icon-chevron-left:before {
  content: "\e609";
}
.icon-chevron-right:before {
  content: "\e60a";
}
.icon-brush:before {
  content: "\e60b";
}
.icon-phone:before {
  content: "\e60c";
}
.icon-pin:before {
  content: "\e60d";
}


/*
PRICING COMPONENTS
*/

.pricing-header {

}

.pricing-cost {

}

.pricing-stats {

}

.pricing-button {
  font-size: .8125em;
  padding: .85em 1.35em;
  background-color: #fd6632;
}

/*
TEAM
*/

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-profile {
  width: 17em;
  text-align: center;
  margin: 1em 0;
  display: inline-block;
}

.profile-header {
  color: #2e2e2e;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
}

.profile-text {
  color: #7c8387;
  font-size: 0.75em;
  line-height: 1.5em;
  width: 80%;
  margin: 0 auto;
}

.profile-image {
  border-radius: 100%;
  width: 11em;
  margin-top: 1em;
}

.social-icons {
  font-size: 1.5em;
  display: inline-block;
  padding: 0.3em;
  margin: 1em 0.1em 1em 0.1em;
}

.icon-facebook {
  background-color: #305fc6;
}

.icon-twitter {
  background-color: #32bdff;
}

.icon-dribbble {
  background-color: #dd2667;
}

.icon-linkedin2 {
  background-color: #2ca1eb;
}

.icon-google-plus {
  background-color: #fabc00;
}

