$font_size: 16;
$font_small: 15;
$font_smaller: 14;
$font_smallest: 13;

$heading_1: 34;
$heading_2: 22;
$heading_3: 20;

$primary_font_family: "Helvetica Neue", Arial, sans-serif;
$primary_font_color: #ffffff;
$secondary_font_color: #2e2e2e;

$href_hover: #de592c;
