$font_size: 16;
$font_small: 15;
$font_smaller: 14;
$font_smallest: 13;

$heading_1: 34;
$heading_2: 22;
$heading_3: 20;

$primary_font_family: "Helvetica Neue", Arial, sans-serif;
$primary_font_color: #ffffff;
$secondary_font_color: #2e2e2e;
$tertiary_font_color: #7c8387;

$href_hover: #de592c;

body {
  background-color: $background;
  margin: 0 auto;
  text-align: center;
}

header, article {
  padding: 2em 1em;
  @media screen and (min-width: 50em) {
    padding: 0 calc(20% - 7.5em) 6em;
  }
}

// button {
//   background-color: #fd6632;
//   border: none;
// }

// button:active, a:active {
//   opacity: 0.8;
// }

button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  opacity: 0.7;
}

input,
textarea {
  display: block;
  background-color: #be4c25;
  border: none;
}

li {
  list-style-type: none;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: $theme_1_light;
  height: 1.2em;
  width: 100%;
  @media screen and (min-width: 50em) {
    height: 1.8em;
  }
}

progress[value]::-webkit-progress-bar {
  background-color: $theme_2_darker;
}

progress[value]::-webkit-progress-value {
  background-color: $theme_1_light;
}

progress[value]::-moz-progress-bar {
  background-color: $theme_1_light;
}

