@import "reset";
@import "../node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "color/color";
@import "config";
@import "typography";
@import "lib/utils/flexbox";
@import "lib/utils/icons";
@import "layout";
@import "components/index";
@import "layout/index";

/*
MODIFIERS
*/

// .white-color {
//   color: #fff;
// }

/*
SECTION HEADERS
*/

// .services-header {
//   @extend %section-header;
//   color: $canvas;
// }

// .portfolio-header {
//   @extend %section-header;
//   color: $secondary_font_color;
// }

// .about-header {
//   @extend %section-header;
//   color: $canvas;
// }

// .team-header {
//   @extend %section-header;
//   color: $secondary_font_color;
// }

// .contact-header {
//   @extend %section-header;
//   color: $canvas;
// }

// .team-section-header,
// .client-section-header,
// .section-header,
// .sub-section-header,
// .portfolio-section-header,
// .contact-section-header {
//   width: 100%;
//   text-decoration: underline;
// }

// .section-header,
// .sub-section-header {
//   max-width: 90%;
//   margin: 0 auto;
//   padding: .75em 0;
//   text-align: center;
// }

  // .white-line {
  //   background: url("/img/horizontal-white-line.svg") no-repeat left,
  //               url("/img/horizontal-white-line.svg") no-repeat right;
  // }

  // .section-header {
  //   background-size: 35%;
  // }

  // .sub-section-header {
  //   -webkit-flex-basis: 100%;
  //   flex-basis: 100%;
  //   margin: 0 6em;
  //   padding: 1.333em 2em;
  //   background-size: 28%;
  // }

// %section-arrows {
//   content: "";
//   display: block;
//   width: 200px;
//   height: 43px;
//   margin: 0 auto 2em;
// }

// .section-arrows-white:before,
// .section-arrows-orange:before,
// .section-arrows-black:before,
// .section-arrows-clear:before {
//   @extend %section-arrows;
// }

// .section-arrows-orange:before {
//   background: url("/img/triangle-orange.svg") no-repeat;
// }

// .section-arrows-black:before {
//   background: url("/img/triangle-black.svg") no-repeat;
// }

// .section-arrows-white:before {
//   background: url("/img/triangle-white.svg") no-repeat;
// }

// .section-arrows-clear:before {
//   background: url("/img/triangle-clear.svg") no-repeat;
// }
// .section-arrows-opaque:after {
//   @extend %section-arrows;
//   background: url("/img/triangle-opaque.svg") no-repeat;
//   position: absolute;
//   left: 0;
//   right: 0;
//   margin: 0 auto 0;
// }

/*
MENU
*/

.menu {
  position: fixed;
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #d4d4d4;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
}

.menu a {
  display: inline-block;
  width: 30%;
  color: #7c8387;
  font-weight: bold;
  padding-top: 0.5em;
}

@media screen and (min-width: 50em) {
  .menu {
    position: static;
    padding: 0.8em calc(20% - 3em);
  }

  .menu a {
    padding-top: 0.1em;
    width: 16%;
  }
}




/*
FOOTER
*/

footer {
  padding-top: 1.5em;
}

footer p {
  font-size: 0.95em;
  color: #7c8387;
}

.footer-name {
  color: #fd6632;
}

.footer-copyright {
  color: #252629;
}


#portfolio {
  @include flexbox($direction: column, $justify: space-around);
  @media screen and (min-width: 50em) {
    @include flexbox($wrap: wrap, $direction: row);
  }
}



#contact {
  @include flexbox($direction: column);
  @media screen and (min-width: 50em) {
    @include flexbox($wrap: wrap, $direction: row, $justify: space-between);
  }
}
