@import "reset";
@import "../node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "color/color";
@import "config";
@import "typography";
@import "layout";
@import "lib/utils/flexbox";
@import "lib/utils/icons";
@import "components/index";
@import "layout/index";

/*
MODIFIERS
*/

// .white-color {
//   color: #fff;
// }

/*
SECTION HEADERS
*/

// .services-header {
//   @extend %section-header;
//   color: $canvas;
// }

// .portfolio-header {
//   @extend %section-header;
//   color: $secondary_font_color;
// }

// .about-header {
//   @extend %section-header;
//   color: $canvas;
// }

// .team-header {
//   @extend %section-header;
//   color: $secondary_font_color;
// }

// .contact-header {
//   @extend %section-header;
//   color: $canvas;
// }

// .team-section-header,
// .client-section-header,
// .section-header,
// .sub-section-header,
// .portfolio-section-header,
// .contact-section-header {
//   width: 100%;
//   text-decoration: underline;
// }

// .section-header,
// .sub-section-header {
//   max-width: 90%;
//   margin: 0 auto;
//   padding: .75em 0;
//   text-align: center;
// }

  // .white-line {
  //   background: url("/img/horizontal-white-line.svg") no-repeat left,
  //               url("/img/horizontal-white-line.svg") no-repeat right;
  // }

  // .section-header {
  //   background-size: 35%;
  // }

  // .sub-section-header {
  //   -webkit-flex-basis: 100%;
  //   flex-basis: 100%;
  //   margin: 0 6em;
  //   padding: 1.333em 2em;
  //   background-size: 28%;
  // }

// %section-arrows {
//   content: "";
//   display: block;
//   width: 200px;
//   height: 43px;
//   margin: 0 auto 2em;
// }

// .section-arrows-white:before,
// .section-arrows-orange:before,
// .section-arrows-black:before,
// .section-arrows-clear:before {
//   @extend %section-arrows;
// }

// .section-arrows-orange:before {
//   background: url("/img/triangle-orange.svg") no-repeat;
// }

// .section-arrows-black:before {
//   background: url("/img/triangle-black.svg") no-repeat;
// }

// .section-arrows-white:before {
//   background: url("/img/triangle-white.svg") no-repeat;
// }

// .section-arrows-clear:before {
//   background: url("/img/triangle-clear.svg") no-repeat;
// }
// .section-arrows-opaque:after {
//   @extend %section-arrows;
//   background: url("/img/triangle-opaque.svg") no-repeat;
//   position: absolute;
//   left: 0;
//   right: 0;
//   margin: 0 auto 0;
// }

/*
MENU
*/

.menu {
  position: fixed;
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #d4d4d4;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
}

.menu a {
  display: inline-block;
  width: 30%;
  color: #7c8387;
  font-weight: bold;
  padding-top: 0.5em;
}

@media screen and (min-width: 50em) {
  .menu {
    position: static;
    padding: 0.8em calc(20% - 3em);
  }

  .menu a {
    padding-top: 0.1em;
    width: 16%;
  }
}

/*
HEADER & LOGO
*/

.header-content {
  // padding: 3em 0;
  position: relative;
  background-size: cover;
  background-image: url(/img/header-background.jpg);
}

// .header-content:after {
//   content: "";
//   margin-top: 5em;
//   width: 180px;
//   height: 145px;
//   border-radius: 10%;
//   background-color: red;
//   transform: rotate(-26deg) skewX(38deg);
// }

.logo {
  opacity: 1;
  height: 4em;
  width: 4em;
  margin: 1em auto 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #fd6632;
}

.header-logo-text {
  color: $secondary_font_color;
  font-weight: lighter;
  text-transform: none;
}

.header-logo-text strong {
  font-weight: normal;
  line-height: 1.3;
}

.curve-underline {
  padding-bottom: .1em;
  background-size: cover;
  background: url("/img/orange-underline.svg") no-repeat;
  background-position: bottom;
}

@media screen and (min-width: 50em) {
  // h1 {
  //   font-size: 2.666em;
  // }
}


/*
SERVICES COMPONENTS
*/

.services-container {
  position: relative;
  // padding: 2.5em .5em 1em;
  // text-align: center;
  background-color: #fd6632;
}

.services-text,
.contact-text {
  display: inline-block;
  line-height: 1.4;
}

.services-category {
  padding: 1.333em;
}

// .services-header {
//   min-width: 225px;
//   padding: .5em 0;
//   font-size: 2.369em
// }

[data-title="ux-design"]:after {
  content: "\e60b";
}

[data-title="laboratory"]:after {
  content: "\e600";
}

[data-title="development"]:after {
  content: "\e601";
}

.services-header:after {
  display: block;
  width: 2em;
  height: 2em;
  margin: .4em auto 0;
  padding-top: .5em;
  padding-bottom: .5em;
  font-family: 'ico-fonts';
  font-size: 2em;
  // text-align: center;
  color: $secondary_font_color;
  background-color: #fff;
  border-radius: 50%;
}

@media screen and (min-width: 50em) {
  // .services-category-container {
  //   display: -webkit-flex;
  //   display: flex;
  //   -webkit-flex-wrap: wrap;
  //   flex-wrap: wrap;
  //   -webkit-justify-content: space-around;
  //   justify-content: space-around;
  //   -webkit-align-content: center;
  //   align-content: center;
  // }

  .services-category {
    width: 33%;
  }
}

/*
BUNDLE SECTION DISPLAY FLEX
*/

@media screen and (min-width: 50em) {
  // .pricing {
  //   display: -webkit-flex;
  //   display: flex;
  //   -webkit-flex-wrap: wrap;
  //   flex-wrap: wrap;
  //   -webkit-justify-content: space-between;
  //   justify-content: space-between;
  //   -webkit-align-content: center;
  //   align-content: center;
  // }
}

/*
PORTFOLIO SECTION
*/

.portfolio-container {
  // display: -webkit-flex;
  // display: flex;
  // -webkit-flex-direction: column;
  // flex-direction: column;
  // -webkit-align-items: center;
  // align-items: center;
  // max-width: 68em;
  // padding: 3.5em 0 0;
  // margin: 0 auto;
}

// .portfolio-section-header {
//   width: 100%;
//   text-align: center;
//   margin-top: .2em;
//   margin-bottom: .5em;
// }

@media screen and (min-width: 50em) {

  // .portfolio-section-header {
  //   margin: 0 6%;
  //   padding: 1em 0;
  //   background-size: calc(100% - 11.5em);
  // }

  // .portfolio-container {
  //   position: relative;
  //   -webkit-flex-direction: row;
  //   flex-direction: row;
  //   -webkit-flex-wrap: wrap;
  //   flex-wrap: wrap;
  //   -webkit-align-items: center;
  //   align-items: center;
  //   -webkit-justify-content: space-around;
  //   justify-content: space-around;
  //   // padding-top: 0;
  // }
}



/*
ABOUT
*/

.about p {
  color: #b9bdbf;
}

.about {
  position: relative;
  background-color: #252629;
  // padding: 4em 1em 1em;
}

// .about-header, .skills-header {
//   color: #fff;
//   text-decoration: underline;
// }

// .about-header {
//   font-size: 2.4em;
//   margin-bottom: 0.5em;
// }

.about p {
  display: inline-block;
  line-height: 1.5em;
  margin-bottom: 1em;
}

// .skills-header {
//   font-size: 1.7em;
//   margin-bottom: 0.8em;
// }

.skills li {
  margin-bottom: 1em;
}

.progress-header {
  text-align: left;
  margin-bottom: 0.3em;
}

.join-us-header {
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.contact-us-button {
  background-color: $theme_1_light;
  font-weight: bold;
  padding: 0.9em 3.5em;
}

.about > aside {
  margin-bottom: 1em;
}

@media screen and (min-width: 50em) {
  // .about-header, .skills-header {
  //   text-decoration: none;
  // }

  // .about-header {
  //   margin: 0 12% 1em;
  //   background-size: calc(50% - 2em);
  // }

  .about p {
    width: 49.5%;
    padding: 0 0.5em;
    margin-bottom: 6em;
  }

  .skills {
    margin-bottom: 6em;
  }

  // .skills-header {
  //   margin: 0 19.25% 1.5em;
  //   background-size: calc(50% - 2.25em);
  // }

  .skills li {
    margin-bottom: 1.4em;
  }

  .join-us-header {
    margin-bottom: 1.5em;
  }
}

/*
TEAM
*/

// .team, .clients {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-flex-wrap: wrap;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
// }

.team {
  position: relative;
  // -webkit-justify-content: space-around;
  // justify-content: space-around;
  // padding-top: 2.5em;
}

// .team-section-header {
//   padding: 0.7em 0;
// }



// .team-header {
//   line-height: 1.5em;
//   font-weight: bold;
// }


  // .gray-line {
  //   background: url("/img/horizontal-black-line.svg") no-repeat left,
  //               url("/img/horizontal-black-line.svg") no-repeat right;
  // }

  // .team-section-header {
  //   margin: 0 3%;
  //   background-size: calc(50% - 0.6em);
  // }

  // .social-icons a {
  //   font-size: 1em;
  // }

  // .client-section-header {
  //   margin: 0 19.25%;
  //   padding: 1.333em 0;
  //   background-size: calc(50% - 2.5em);
  // }

  // .client-figure {
  //   display: -webkit-box;
  //   display: -webkit-flex;
  //   display: flex;
  //   -webkit-box-align: center;
  //   -webkit-align-items: center;
  //   align-items: center;
  //   margin: 1em 0;
  // }




/*
CONTACT SECTION
*/







// .contact-section {
  // display: -webkit-flex;
  // display: flex;
  // -webkit-flex-direction: column;
  // flex-direction: column;
  // -webkit-align-items: center;
  // align-items: center;
  // margin: 0 auto;
  // padding: 2.5em .3em 2em;
//   background-color: $theme_1_light;
// }

// .contact-section-header {
//   background-size: calc(100% - 13.5em);
// }

// .contact-text {
//   margin-bottom: 1.5em;
// }





// .contact-form,
// .contact-map {
//   max-width: 460px;
// }


@media screen and (min-width: 50em) {

  // input, textarea, .contact-map-caption {
  //   font-size: .8em;
  // }

  // .contact-section {
  //   position: relative;
    // -webkit-flex-direction: row;
    // flex-direction: row;
    // -webkit-flex-wrap: wrap;
    // flex-wrap: wrap;
    // -webkit-align-items: center;
    // align-items: center;
    // -webkit-justify-content: space-around;
    // justify-content: space-around;
    // padding-top: 2em;
  // }

  // .contact-section-header {
  //   -webkit-flex-basis: 94%;
  //   flex-basis: 94%;
  // }



  .contact-map-caption a {

  }

  .contact-location {
  }

  // .contact-map-caption:after {
  //   content: "";
  //   position: absolute;
  //   top: 12px;
  //   left: 33%;
  //   width: 170px;
  //   padding-bottom: 150px;
  //   -webkit-transform: rotate(-30deg) skewX(29deg);
  //   transform: rotate(-30deg) skewX(29deg);
  //   background-image: linear-gradient(40.4deg, rgba(0,0,0,.7) 23.5%, rgba(0,0,0,0) 23.5%, rgba(0,0,0,0) 100%);
  //   border-radius: 10%;
  // }
}






/*
FOOTER
*/

footer {
  padding-top: 1.5em;
}

footer p {
  font-size: 0.95em;
  color: #7c8387;
}

.footer-name {
  color: #fd6632;
}

.footer-copyright {
  color: #252629;
}

/*
MEDIA SCREEN MODIFIERS
*/

@media screen and (min-width: 50em) {
  // .services-container,
  // .portfolio-container,
  // .team,
  // .about,
  // .header-content,
  // .contact-section {
  //   padding: 0 calc(20% - 7.5em) 6em;
  // }

  .small-paragraph {
    width: 45%;
  }

  // .team-section-header,
  // .client-section-header,
  // .section-header,
  // .sub-section-header,
  // .pricing-header,
  // .portfolio-section-header,
  // .contact-section-header {
  //   text-decoration: none;
  //   text-transform: uppercase;
  // }
}

#portfolio {
  @include flexbox($direction: column, $justify: space-around);
  @media screen and (min-width: 50em) {
    @include flexbox($wrap: wrap, $direction: row);
  }
}

// #team {
//   @include flexbox($wrap: wrap, $justify: space-around);
// }



#contact {
  @include flexbox($direction: column);
  @media screen and (min-width: 50em) {
    @include flexbox($wrap: wrap, $direction: row, $justify: space-between);
  }
}
