$background: #ffffff !default;
$theme_1_light: #fd6632 !default;
$theme_2_darkest: #2e2e2e !default;

$theme_1_dark: #7e3319 !default;
$theme_1: #be4c25 !default;
$theme_2: #7c8387 !default;
$theme_2_light: #d4d4d4 !default;
$theme_2_darker: #b9bdbf !default;

$facebook_color: #305fc6;
$twitter_color: #32bdff;
$dribbble_color: #dd2667;
$linkedin_color: #2ca1eb;
$google_plus_color: #fabc00;
