$canvas: #ffffff !default;
$primary_accent: #fd6632 !default;
$secondary_accent: #2e2e2e !default;

$firebrick: #7e3319 !default;
$sunrise: #be4c25 !default;
$grey: #7c8387 !default;
$lightgrey: #d4d4d4 !default;
$slategrey: #b9bdbf !default;

$Facebook: #305fc6;
$Twitter: #32bdff;
$Dribbble: #dd2667;
$LinkedIn: #2ca1eb;
$Google: #fabc00;
