aside {
  .join-us-header {
    margin-bottom: 1.5em;
  }
  @media screen and (min-width: 50em) {
    .join-us-header {
      margin-bottom: 2em;
    }
  }
}

.join-us-header {
  color: $theme_2_light;
  font-weight: normal;
  text-transform: none;
}

.contact-button {
  font-size: em($font_small);
  text-transform: uppercase;
  background-color: $theme_1_light;
  font-weight: bold;
  padding: 0.9em 3.8em;
}
