$cell-padding: 1em;


.bundle {
  min-width: 220px;
  margin-bottom: 1em;
  h3 {
    padding: .7em .2em;
    font-size: em($heading_2);
    font-weight: lighter;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: $theme_1_dark;
  }
  li {
    padding: $cell-padding;
    color: $secondary_font_color;
    background-color: $background;
    border-top: 1px solid $theme_1_light;
    &.bundle-plan {
      color: $theme_1_light;
    }
  }
  span {
    font-size: em($heading_3);
    font-weight: bold;
  }
  .bundle-button-container {
    padding: $cell-padding;
    background-color: $theme_1;
    border-top: 2px solid $theme_1_light;
  }
  .button {
    display: block;
    padding: .85em 1.35em;
    color: $primary_font_color;
    text-transform: uppercase;
    background-color: $theme_1_light;
    &:hover {
      background-color: $href_hover;
    }
  }
}

@media screen and (min-width: 32em) {
  .bundle {
    display: inline-block;
    width: 45%;
  }
}

@media screen and (min-width: 50em) {
  .bundle {
    width: 24%;
    .button {
      width: auto;
    }
  }
}

