.menu {
  position: fixed;
  width: 100%;
  padding-bottom: 0.5em;
  border-bottom: 2px solid $theme_2_light;
  background-color: $background;
  z-index: 1000;

  & a {
    width: 30%;
    margin: 0 1em;
    font-weight: bold;
    color: $theme_2;
    padding-top: 0.1em;
  }

  li {
    display: inline-block;
    padding: .2em;
  }
  .current-page {
    color: $secondary_font_color;
  }
}

@media screen and (min-width: 50em) {
  .menu {
    position: static;
    padding: 0.8em calc(20% - 3em);
    & a {
      width: 16%;
    }
  }
}
