.services-category {
  [data-title="ux-design"]:after {
  content: "\e60b";
  }

  [data-title="laboratory"]:after {
    content: "\e600";
  }

  [data-title="development"]:after {
    content: "\e601";
  }
  .services-header:after {
    display: block;
    width: 2em;
    height: 2em;
    margin: .4em auto;
    padding-top: .5em;
    padding-bottom: .5em;
    font-family: 'ico-fonts';
    font-size: 2em;
    color: $secondary_font_color;
    background-color: #fff;
    border-radius: 50%;
  }
}
